@page "/converter"

<PageTitle>Converter</PageTitle>

<h1 class="hello">Converter</h1>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
